body{
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: white
}
.quem-somos{
    background-color: rgb(209, 117, 12);
    color: white
}
.margin{
    padding-bottom: 50px; 
    padding-top: 10px;
}
.bg-footer{
    background-color: black;
    color: white;
}